input#landing-input::-moz-placeholder {
	color: #9b9b9b;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 1.5em;
	text-align: center;
	font-weight: 500;
}

input#landing-input:-moz-placeholder {
	color: #9b9b9b;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 1.5em;
	text-align: center;
	font-weight: 500;
}

input#landing-input::-webkit-input-placeholder {
	color: #9b9b9b;
	filter: alpha(opacity=100);
	font-size: 1.5em;
	text-align: center;
	font-weight: 500;
}

input#landing-input:-ms-input-placeholder {
	color: #9b9b9b;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 1.5em;
	text-align: center;
	font-weight: 500;
}

#data-table > tbody > tr > td.actions { 
	zoom: 1;
    filter: alpha(opacity=0);
	opacity: 0;
}
#data-table > tbody > tr:hover > td.actions {
    zoom: 1;
    filter: alpha(opacity=100);
	opacity: 1;
 }